registry=https://registry.npmjs.org/
@simao234430:registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=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
//registry.npmjs.org/:always-auth=true
 